* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Minion Pro", 'Myriad Pro Bold';
}

.nav,
.slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 0 2em;
  animation: slide 10s infinite;
}

@keyframes slide {
  0%, 100% {
    background-image: url('OIG1.jpeg');
    filter: brightness(1);
  }
  50% {
    background-image: url('OIG1.VV.jpeg');
    filter: brightness(1);
  }
}


.nav h1,
.slider h1 {
  font-family: "Minion Pro", 'Myriad Pro Bold';
  font-size: 7vw;
  margin: 0;
  padding-bottom: 0.5rem;
  letter-spacing: 0.5rem;
  color: white;
  transition: all 0.3s ease;
  z-index: 3;
}

.nav h1:hover,
.slider h1:hover {
  transform: translate3d(0, -10px, 22px);
  color: gray;
}

.slider h2 {
  font-size: 2vw;
  letter-spacing: 0.3rem;
  font-family: "Minion Pro", 'Myriad Pro Bold';
  font-weight: 300;
  color: gray;
  z-index: 4;
}

.nav h3 span {
  font-size: 2vw;
  letter-spacing: 0.7em;
  font-family: "Minion Pro", 'Myriad Pro Bold';
  font-weight: 300;
  color: white;
  z-index: 4;
}

span:hover {
  color: #115584;
  font-weight: 500;
  font-size: 2.2vw;
}

a {
  text-decoration: none;
}

.nav-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 75px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  background: white;
  z-index: 10;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

/* Réduire la taille des liens de navigation */


.nav-container--top-first {
  position: fixed;
  top: 75px;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

.nav-container--top-second {
  position: fixed;
  top: 0;
}

.nav-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  color: #115584;
  letter-spacing: 0.1rem;
  transition: all 0.5s ease;
  font-size: 1.4vw;
}

.nav-tab:hover {
  color: whitesmoke;
  background: #115584;
  transition: all 0.5s ease;
}

.nav-tab-slider {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 2px;
  background: #115584;
  transition: left 0.3s ease;
}

.background {
  position: absolute;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: auto;
}

.loader span {
  color: #faebd7;
  text-shadow: 0 0 0 #faebd7;
  animation: loading 1.3s ease-in-out infinite alternate;
}

@keyframes loading {
  to {
    text-shadow: 20px 0 70px #fff;
    color: #fff;
  }
}

/* Media queries pour différents appareils */

/* Téléphones */
@media screen and (max-width: 480px) {
  .nav h1,
  .slider h1 {
    font-size: 8vw;
  }

  .slider h2 {
    font-size: 4vw;
  }

  .nav-tab {
    font-size: 4vw;
  }
}

/* Tablettes */
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .nav h1,
  .slider h1 {
    font-size: 5vw;
  }

  .slider h2 {
    font-size: 2.5vw;
  }

  .nav-tab {
    font-size: 2vw;
  }
}

/* Ordinateurs de bureau */
@media screen and (min-width: 1025px) {
  /* Ajoutez des styles spécifiques pour les ordinateurs de bureau ici si nécessaire */
}.profile-picture {
    /* Styles pour la photo de profil */
    position: fixed;
    top: 50%;
    left: -100px; /* Hors de l'écran à gauche */
    transition: left 1s ease; /* Transition pour le déplacement */
    z-index: 999;
}


