<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ACE GABON</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/general.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='icon.png') }}" type="image/png">
</head>
<body>
    <div class="container">
        <h2>Confirmation de réinitialisation du mot de passe</h2>
        <form id="resetConfirmationForm">
            <input type="password" id="newPassword" placeholder="Nouveau mot de passe" required>
            <input type="password" id="confirmPassword" placeholder="Confirmer le nouveau mot de passe" required>
            <button type="submit">Réinitialiser le mot de passe</button>
        </form>
    </div>
    <script src="{{ url_for('static', filename='js/reset_confirmation.js') }}"></script>
</body>
</html>